@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

$font-family-sans-serif: "Fira Sans", sans-serif;

$primary: #00ff00;
$secondary: #90ee90;
$success: #40e0d0;
$info: #cd853f;
$warning: #4682b4;
$dark: #0e0e0e;

@import "../node_modules/bootstrap/scss/bootstrap";

/*----------------------------
	          Mi SASS
----------------------------*/

body {
  font: {
    family: $font-family-sans-serif;
    weight: 400;
  }
  line-height: 1.5;
}

a {
  text-decoration: none;
  &:hover {
    color: tomato;
  }
  &.nav-link {
    color: $dark;
  }
}

/** FOOTER **/
footer {
  a {
    color: $secondary;
  }
}

/** EJERCICIO 2 **/
.nav-tabs {
  border-bottom: 0;
  .nav-link.active {
    color: #ffffff;
    background-color: #d24c4c;
    border-color: #d24c4c;
  }
}

/*** EJERCICIO 4 ***/

/* Defino los bordes */
.bordesEj4 {
  border: 3px solid $dark;
}

/* Alineación vertical y horizontal de las columnas */
.alinearCols {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include media-breakpoint-down(lg) {
    align-items: center;
  }
}

@include media-breakpoint-down(lg) {
  .fondo-c1.alinearCols {
    justify-content: flex-start;
  }
  .fondo-c2.alinearCols {
    justify-content: flex-end;
  }
}
@include media-breakpoint-down(md) {
  .fondo-c2.alinearCols {
    justify-content: center;
  }
  .fondo-c3.alinearCols {
    justify-content: flex-end;
  }
}

/* Ajustes en los textos */
.lesiones {
  color: #000;
  p {
    margin-bottom: 0;
  }
  .display-1 {
    font-weight: 500;
  }
  .h1 {
    margin-bottom: -3px;
  }
}

/* Defino los fondos */
.fondo-header4 {
  background-color: $primary;
  @include media-breakpoint-down(lg) {
    background-color: $success;
  }
  @include media-breakpoint-down(md) {
    background-color: $info;
  }
}

.fondo-c1,
.fondo-c2,
.fondo-c3 {
  background-color: red;
  height: 420px;
}

.fondo-c1 {
  @include media-breakpoint-down(lg) {
    height: 280px;
  }
  @include media-breakpoint-down(md) {
    height: 140px;
  }
}

.fondo-c2 {
  @include media-breakpoint-down(lg) {
    height: 280px;
  }
  @include media-breakpoint-down(md) {
    background-color: $success;
    height: 140px;
  }
}

.fondo-c3 {
  @include media-breakpoint-down(lg) {
    background-color: $primary;
    height: 140px;
  }
  @include media-breakpoint-down(md) {
    background-color: red;
    height: 140px;
  }
}

.fondo-footer4 {
  background-color: yellow;
}

/*** EJERCICIO 5 ***/

/* Defino los bordes */
.bordesEj5 {
  border: 3px solid #fff;
}

/* Defino un mixin con argumentos para establecer el alto y el centrado de cada col */
@mixin alinearVh($alto) {
  height: $alto;
  line-height: $alto;
  text-align: center;
}

.header5 {
  @include alinearVh(10vh);
}

.dispositivo {
  @include alinearVh(15vh);
}

.col-number-letter {
  @include alinearVh(40vh);
}

.caritas {
  @include alinearVh(30vh);
}

.karate {
  p {
    font-size: 40px;
    font-weight: bold;
  }
}

/*** EJERCICIO 6 ***/

/* Defino un mixin con argumentos para establecer el alto y el centrado de cada col */
@mixin gamaGray($color, $bg) {
  color: $color;
  background-color: $bg;
}

.bd-gray-400 {
  @include gamaGray(#000, #ced4da);
}

.bd-gray-500 {
  @include gamaGray(#000, #adb5bd);
}

.bd-gray-600 {
  @include gamaGray(#fff, #6c757d);
}

.bd-gray-700 {
  @include gamaGray(#fff, #495057);
}

.bd-gray-800 {
  @include gamaGray(#fff, #343a40);
}

.bd-gray-900 {
  @include gamaGray(#fff, #212529);
}

/* Genero un scroll en la tabla con un alto determinado */
.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

/*----------------------------
	          Mi CSS
----------------------------*/

/** NAVBAR **/
.navbar {
  padding: 2rem 1rem;
  background-color: $dark;
}

/* Agrego un borde sobre el navbar */
.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-width: 0;
  border-bottom: 4px solid;
  border-image: linear-gradient(
    90deg,
    rgba(155, 149, 255, 1) 0%,
    rgba(0, 255, 175, 1) 25%,
    rgba(255, 243, 95, 1) 50%,
    rgba(156, 33, 255, 1) 75%,
    rgba(0, 86, 255, 1) 100%
  );
  border-image-slice: 1;
}

.nav-pills .nav-link.active {
  background-color: $dark;
}

/* Modifico el menu */
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

/* Modifico un poco el nombre de la pagina */
.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-family: "Merienda", cursive;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: inherit;
  white-space: nowrap;
}

/* Le quito el borde y el padding al toggle */
.navbar-dark .navbar-toggler {
  padding: 0;
  border: 0;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $secondary;
}

/** SECTION CITA **/
.blockquote-footer {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
